[2018-04-26 07:02] amaurymartiny opened #1 "Error in some locations TypeError pm25.v"
![img-20180425-wa0000_1024](https://user-images.githubusercontent.com/1293565/39290631-923c2134-4930-11e8-8f90-b87f719e2360.jpg)

[2018-04-26 07:04] amaurymartiny opened #2 "Top Location is misleading"
One user reported that the location was wrong, because he was in Detroit and the location was showing Windsor (next to Detroit).

I explained to him that it's probably because the closest air monitoring system was in Windsor.

Might need to think how to make this distinction clearer.

Also see:
- https://twitter.com/alizalees/status/989389130378424320

[2018-04-26 07:04] amaurymartiny opened #3 "Add smoke effect"
From Marcelo's video.

[2018-04-26 07:51] amaurymartiny opened #4 "Make language kid-friendly?"
https://twitter.com/CBhattacharji/status/989372492392247298

There are pros and cons.

[2018-04-26 08:02] amaurymartiny opened #5 "Design overlaying on small screens"
![dbr1b6avaaazano](https://user-images.githubusercontent.com/1293565/39293368-fc5e96b6-4938-11e8-98f9-16cc660800ce.jpg)

[2018-04-27 09:09] #1 closed

[2018-04-27 09:10] amaurymartiny opened #8 "Add possibility to change location"
Requested by *many* users.

[2018-04-27 17:00] nicolasmaia opened #10 "Distribute through F-Droid"
It would be great to have this app on F-Droid: https://f-droid.org/

[2018-05-01 08:30] #2 closed

[2018-05-01 08:30] #3 closed

[2018-05-01 08:30] #8 closed

[2018-05-02 07:53] ericorruption opened #13 "Showing `NaN cigarettes` instead of number"
OS: Android 8.0
Location: Hamburg, Germany

If you need any other information i'm happy to help.

[2018-05-02 07:56] amaurymartiny commented on #13
Yes, reproduced. I'll have a look and get back to you.

[2018-05-04 22:13] #4 closed

[2018-05-04 22:14] amaurymartiny opened #17 "Loop Smoke Effect video"

[2018-05-05 19:52] #5 closed

[2018-05-05 19:53] amaurymartiny opened #19 "Add E2E tests using some automated simulator"
It all started as a weekend project, so I didn't write tests.

Now people are starting to use this app, so it would be wise to make it a serious project.

[2018-05-08 21:09] amaurymartiny opened #22 "Add Sentry for bug tracking."
https://docs.expo.io/versions/latest/guides/using-sentry

[2018-05-09 21:01] amaurymartiny opened #23 "Small design issue"
https://twitter.com/expo/status/994263722976727045

[2018-05-10 20:39] PepijnTrampe commented on #19
What me cool likes is if you add a map using google maps make a overlay that wil show you the air quality like a weather overlay

[2018-05-18 22:33] amaurymartiny opened #24 "Add History of cigarettes smoked"
Right now, the AQI project doesn't give any historical data. There is apparently some platform here: http://aqicn.org/data-platform/register/, I registered, no answer yet. But it looks more like a one time thing, e.g. "Tell me the air quality data in Winter 2014 in Beijing", and not a online API we could use.

I wouldn't put much hope into the above solution. Which means, we cannot have the past h

[2018-05-18 22:39] amaurymartiny opened #25 "Add notification when pollution is higher than average"
The idea is simple enough.

Question: we show a notification when the AQI is:
1. higher than the average of the current location?
2. or higher than the average of the user's history.

2 may be simpler to implement, as we only need to store user's history. 1 would require a backend server to store historical data.

[2018-05-18 22:41] amaurymartiny opened #26 "Create a web app"
Requested by some users on Google Play and Product Hunt.

Create a https://waqi.info, but with cigarettes number.

[2018-05-18 22:49] amaurymartiny opened #27 "A popup to invite the user to rate on the stores"
Like a lot of apps do: "Please rate us 5 stars on the store".

The question is: when do we show this popup?

[2018-05-18 22:50] amaurymartiny opened #28 "Add analytics"
Where do users click? How much time they spend? What do they search for?

[2018-05-18 23:09] amaurymartiny opened #29 "Add a bot to generate a screenshot of a random big city in the world"
And post this screenshot on social media. Or maybe the most polluted city in the world every day?

[2018-05-19 11:43] amaurymartiny opened #30 "Inform user when the Air Quality Station is too far?"
If the station is at >15km, the number of cigarettes shown is not really relevant to the user. Maybe we should show a popup or some message to inform the user about this?

Ideally there would be a CTA, but I can't think of anything concrete:
- "Buy AirMatrix!" sounds like an ad.
- "Help us install stations"?
- Maybe an information page, where we present AirMatrix but also other competitors: http:/

[2018-05-19 11:43] amaurymartiny opened #31 "AQI Forecasting?"
There's a forecasting tool on AQICN.org: http://aqicn.org/forecast/asia/

It could be an idea to integrate that too.

[2018-05-20 01:39] marceloscoelho commented on #26
Would it be possible to use the code that you've already done for a Desktop version? Design-wise it wouldn't be a lot of work for me.

[2018-05-20 01:41] marceloscoelho commented on #29
Great idea! I need to come up with some phrases to make this sound less robotic. The most polluted city in the world could generate problems for us though - people from the city getting angry and/or saying that the data is not correct, etc.

[2018-05-20 01:45] marceloscoelho commented on #27
Oh, I hate those! A small banner sliding from the bottom wouldn't be so bad however, letting people to continue doing what they are doing. Not sure about the "when".

[2018-05-20 01:48] marceloscoelho commented on #30
That is a good opportunity for monetizing the app. I agree it shouldn't be something aggressive such as "Buy AirMatrix", but present it in the way of "Help us install stations" seems very nice. It could be located under the Station name, right on the top but with discreet typography...

[2018-05-20 01:52] marceloscoelho commented on #24
This seems to be the most useful feature in my view. People are not asking so much as I thought they would, but to really have an accurate notion of the air quality, an average is necessary.

Solution 1 seems better considering Privacy and even savings for us (owning a fast server with everyone's data wouldn't be so cheap). Do you think this would be something that would occupy a lot of space on t

[2018-05-20 14:52] amaurymartiny opened #32 "Translations"
The app is pretty popular in:
- France
- Spain
- Belgium and the Netherlands
- Turkey
- United Kingdom

For a start, we could add translations for these languages?
- French
- Spanish

[2018-05-20 17:27] amaurymartiny commented on #29
Yeah, true. So let's take maybe ~50 big cities in the world and randomly pick one and generate a screenshot.

[2018-05-20 17:33] amaurymartiny commented on #26
Although both are written in React, it is today not easy to use the same code in browser and in mobile app.

However for the web version I'm thinking we could make it somewhat different than the app? I.e. a map, like https://waqi.info, with cigarette count. No need for the "Change Location" feature in this case. There would be only the popup when the user clicks on a marker to design and to implem

[2018-05-24 17:25] marceloscoelho opened #33 "Monetization Strategies"
Let's explore how could we monetize the app without losing our souls. One alternative would be to put contextualized advertisement of Air Purifiers or Consumer Air Quality Stations. Some of the companies that could partner with us are:

- **Dyson** https://www.dyson.com/air-treatment/.html
- **Nokia (Withings)** https://health.nokia.com/us/en/home
- **Nest** https://nest.com/smoke-co-alarm/overvie

[2018-05-24 17:35] marceloscoelho opened #34 "Air Quality Information"
Right now the app has a very straightforward function: **display the number of cigarettes you are indirectly smoking daily**. With the app's growth of features and notoriety, would it be interesting to pivot it in into more complete Air Quality monitoring? Or would we lose focus doing that?

We could continue featuring the cigarettes information but putting more information below:

# S***! You've

[2018-05-25 06:27] amaurymartiny commented on #34
Good point.

The general feeling I have, when reading social media, is that we can broadly categorise the users into:
- the normal user: they are just curious about how many cigarettes they smoke. Best case scenario, they make a screenshot and share it
- the power user: they are concerned about air quality. I received a couple of emails/messages where people would ask me: "The station is at 5km, c

[2018-05-25 06:28] amaurymartiny opened #35 "Share Button with screenshot and link"
One of the strong points of this app is the design (thanks Marcelo!), esp. the homepage with the cigarettes.

I'm thinking, it would be perfect, in the "Share with friends" button, to share a screenshot + a link to download, instead of some plain text.

[2018-05-25 06:32] amaurymartiny commented on #33
Wow, this is great!

[2018-06-25 04:39] GarethRWhite opened #36 "Conversion is incorrect"
I think the app reports the wrong number of cigarettes.
Here's the data:

Shanghai Normal University
http://aqicn.org/city/shanghai/xuhuishangshida/
Website for 11:00 reports AQI of 159.

https://www.airnow.gov/index.cfm?action=airnow.calculator
Converts AQI of 159 to PM 2.5 of 70.9 ug/m3
This should be equivalent to 70.9 / 22 = 3.2 cigarettes.

The app reports 7.5 cigarettes.
This should be equiv

[2018-07-21 11:11] amaurymartiny opened #37 "A lot of reviews saying "I don't believe the data""
Looking at recent store reviews, most people giving 3 or less stars are saying that they can't believe the data.

Problems:
1. Many comments saying that the Air Quality Stations are too far from them.
2. It feels a bit dishonest to users to show the user's location and the cigarettes count, and in small the actual distance to the Air Quality Station. It's like we're trying to make it like we have

[2018-08-09 15:47] #36 closed

[2018-08-16 21:29] amaurymartiny commented on #29
Done: https://github.com/shootismoke/buffer-bot

[2018-08-16 21:29] #29 closed

[2018-08-28 16:31] PIB275 opened #43 "Bug after update"
Error message “no cache exists for this resource: shell-app.bundle”
How do we fix it?

[2018-08-28 16:34] PIB275 opened #44 "How is the data translated into cigarettes?"
I’ve been using the app for a while and love it. I was wondering though if it is only correlated to the air quality at the time we check the app or is the data accumulated overtime (during a full day) which would be more accurate in terms of cigarettes smoked after a day has passed? Thanks!

[2018-08-29 08:47] #44 closed, assigned to nobody

[2018-08-29 08:49] amaurymartiny commented on #43
Sorry about the bug! Could you post a screenshot?

[2018-09-09 16:05] EgidioCaprino commented on #43
Same issue here, on iPhone X.

[2018-11-08 15:38] amaurymartiny opened #46 "Convert pm25 AQI back to real pm25 level"
We use WAQI, and fetch the pm25 level from their database. However, they use a standard to transform raw pm25 level into an AQI.

We need to do the reverse calculation to get the raw pm25 level.

[2018-11-08 16:06] jonathanrjpereira commented on #46
So does the app currently use the AQI level or raw PM2.5 level?
i.e Raw PM2.5 is measured in ug/m3.

[2018-11-08 16:08] amaurymartiny commented on #46
aqi.

[2018-11-08 16:45] jonathanrjpereira commented on #46
I thought so.

According to the WAQI website, the current AQI for my city, [Mumbai is 151](http://aqicn.org/city/india/mumbai/bandra/).
Hence by the current app implementation, the cigarette equivalence will be 151/22=6.86 Cigs.
But this value is incorrect since it is calculated using the AQI level instead of the Raw PM2.5 level.

According to [Berkley Earth](http://berkeleyearth.org/air-pollution

[2018-11-08 16:47] amaurymartiny commented on #46
Exactly! Thanks for the detailed report.

Is there any chance you would want to work on this?

[2018-11-08 17:00] jonathanrjpereira commented on #46
I would love too, but unfortunately, I'm not well versed in JS.

I was planning to build a Physical indicator that indicates the AQI in terms of Cigarettes using a Raspberry Pi(in Python) & some LEDs & I was doing some research on this topic when I stumbled upon your app.

[2018-11-16 11:51] amaurymartiny commented on #28
Meh, let's forget it because of GDPR

[2018-11-16 11:51] #28 closed

[2018-11-17 22:04] #17 closed

[2018-11-17 22:04] #23 closed

[2018-11-17 22:04] #30 closed

[2018-11-17 22:04] #34 closed

[2018-11-17 22:04] #37 closed

[2018-11-17 23:26] #46 closed

[2018-11-17 23:39] #22 closed

[2018-11-23 21:24] #43 closed, assigned to nobody

[2019-04-17 11:43] amaurymartiny commented on #24
Use https://docs.expo.io/versions/v32.0.0/sdk/location/#locationstartlocationupdatesasync to track background location

[2019-04-17 11:55] amaurymartiny commented on #24
We sometimes have bugs on some devices that don't show the cigarettes correctly. It would be nice to have e2e tests (they don't need to be complex) on multiple devices. Ideas:
- https://github.com/wix/Detox
- https://www.browserstack.com/app-automate

[2019-04-17 12:38] amaurymartiny commented on #19
We sometimes have bugs on some devices that don't show the cigarettes correctly. It would be nice to have e2e tests (they don't need to be complex) on multiple devices. Ideas:
- https://github.com/wix/Detox
- https://www.browserstack.com/app-automate

[2019-04-17 14:04] amaurymartiny commented on #32
Assigned to @lucienbl, thanks!

[2019-04-17 15:18] lucienbl opened #68 "Change textColor to something more lighter"
The text color is very hard to read (see screenshot below)
![Screenshot_1555514057](https://user-images.githubusercontent.com/35530360/56299531-88091100-6134-11e9-89e6-5bba200fe5a6.png)
Is it possible to make it white to make it more "readable" (screenshot below)?
![Screenshot_1555514232](https://user-images.githubusercontent.com/35530360/56299631-b4249200-6134-11e9-92bb-8523706ad0f1.png)

[2019-04-17 15:24] amaurymartiny commented on #68
Hey! This is actually a bug reported by some users, and I haven't been able to reproduce it, so it hasn't been worked on.

The background shouldn't be black, but white. All backgrounds in the app are either white or transparent, and the mp4's background is transparent too. So I didn't diagnose where the black color comes from.

I reported the bug on Expo https://github.com/expo/expo/issues/3861, b

[2019-04-17 16:50] lucienbl commented on #68
Oh, then never mind my issue and hope this bug will be fixed soon by expo! :smiley:

[2019-04-17 17:40] lucienbl commented on #24
Wouldn't letting the app constantly running in the background drain the battery, especially for these non-native apps which means they aren't particularly optimized for such background tasks?

[2019-04-17 20:09] amaurymartiny commented on #24
I was thinking of something like: every 3 hours, fetch the current location, fetch the PM2.5 at this location, and store it locally. I'm not 100% sure this is technically feasible with Expo's TaskManager, but if it is, I don't think it'll drain the battery, since it's not a permanent background task?

[2019-04-17 20:18] lucienbl commented on #24
Hm but to fire the worker every 3 hours your app need something which will constantly run in background, which is feasible with services / broadcast receivers through native apps but I know I already had issues working with rn background tasks or am I wrong? :thinking:

If there's a background task manager provided by expo they probably work with native implementations, then the battery drain shou

[2019-04-17 21:33] #68 closed

[2019-04-17 23:15] amaurymartiny opened #73 "Translate to French 🇫🇷"
We would appreciate some help for translating Sh**t! I Smoke to French.

https://poeditor.com/join/project/iEsj0CSPGX

[2019-04-17 23:16] amaurymartiny opened #74 "Translate to Spanish 🇪🇸"
We would appreciate some help for translating Sh**t! I Smoke to Spanish.

Here's a detailed guide on how to get started with translations: https://github.com/amaurymartiny/shoot-i-smoke/wiki/How-to-contribute-with-translations%3F

[2019-04-17 23:18] amaurymartiny opened #75 "Translate to Chinese 🇨🇳 / 翻译成中文"
We would appreciate some help for translating Sh**t! I Smoke to Chinese.

https://poeditor.com/join/project/iEsj0CSPGX

[2019-04-17 23:19] amaurymartiny commented on #32
Closed in #69, each language has its own issue now. Thanks again @lucienbl 🙏 .

[2019-04-17 23:19] #32 closed

[2019-04-17 23:26] amaurymartiny opened #76 "Use something else than Google Maps for maps"
We plan to launch the app in China (where pollution is serious). However, we're using google maps, which is blocked.

An alternative would be mapbox, but we need to make sure it's not blocked in China.

Also, this might require ejecting from Expo.

[2019-04-17 23:26] #27 closed

[2019-04-17 23:30] amaurymartiny commented on #24
Expo does have a TaskManager: https://docs.expo.io/versions/v32.0.0/sdk/task-manager/. Tbh I'm not sure either how it works, we can always implement something, test it for ~1 week to see how the battery behaves, and then reconsider if necessary.

If Expo doesn't provide any good solution, we can eject.

I'll be able to have a look at this next week. @lucienbl in the meantime if you're interested,

[2019-04-18 08:08] lucienbl commented on #24
Sounds good! I'll have a look for sure!

[2019-04-18 13:06] amaurymartiny commented on #68
Marcelo, who had this bug too, confirmed that it's working now. Cheers @lucienbl!

[2019-04-18 13:38] lucienbl commented on #24
Hi there! I started looking a bit around the way how this can be stored and did this 0ab3cb9 ! It seems to work, except the API call which doesn't seem to work in background :thinking:

[2019-04-18 19:19] amaurymartiny commented on #24
Nice start! Is the callback called? I.e. if you put a console.log [here](https://github.com/amaurymartiny/shoot-i-smoke/commit/0ab3cb9ac5c6b294603ec696faecbc34e116744f#diff-38dacb5be06e53a0a4e9df5b0575563bR168), does it show something?

[2019-04-18 19:28] amaurymartiny opened #78 "Use Expo's reverse geocoding"
Right now, we use https://locationiq.com/ for reverse geocoding.

I just found out that Expo has also a reverse geocoding function: https://docs.expo.io/versions/v32.0.0/sdk/location/#locationreversegeocodeasynclocation. Have a look if it's doable, so that we can remove one dependency

[2019-04-18 19:53] lucienbl commented on #24
Normally `data` contains the basic response coming from the location manager. What do you mean is it supposed to show?

This part works perfectly in foreground, but the API call seems to have some trouble when calling from background mode.

[2019-04-23 03:21] OlgaMorales commented on #74
@amaurymartiny i'd like to help u

[2019-04-23 07:28] amaurymartiny commented on #74
Nice, that would be very helpful! If you create a Pull Request with the Spanish translations (an `es.json`), I'll merge it asap.

Have a look at the wiki link on the 1st post. Ping me if you need help with which text goes where, or how to give your translations a try in the app.

[2019-04-24 03:28] OlgaMorales commented on #74
@amaurymartiny it's my PR ready

[2019-04-24 19:34] OlgaMorales commented on #74
@amaurymartiny done!

[2019-04-25 17:01] amaurymartiny opened #80 "Add possibility to change language"
In the about page, on the bottom for example. A native `Picker` would be nice

[2019-04-25 17:14] amaurymartiny commented on #74
Thanks @OlgaMorales for #79. However, I found out that there were still a couple of strings in the app which were in English (it was my fault, I forgot to put them in `en.json`).

Would you like to continue working on the new ones? There are here: https://github.com/amaurymartiny/shoot-i-smoke/pull/81/files#diff-d74a2d947ea7e5d2e9ef65b18a8d5a70R42, in green. If yes, you can create a new PR for tha

[2019-04-25 17:17] OlgaMorales commented on #74
sure @amaurymartiny

[2019-04-25 17:20] lucienbl commented on #74
Don't you want using poeditor which would really be simpler? :joy:

[2019-04-25 17:23] amaurymartiny commented on #74
@lucienbl I'll have a look at that, I promise!

[2019-04-25 17:32] amaurymartiny opened #82 "Change Location icon should not contain text"
https://github.com/amaurymartiny/shoot-i-smoke/blob/master/assets/images/changeLocation.png

Or else it's hard to translate! Instead, text should be below, as a RN `<Text>`

We already added FontAwesome in the app, so we just need to replace the image with FontAwesome location icon + orange circle background

[2019-04-25 19:24] OlgaMorales commented on #74
new pull request done ! @amaurymartiny

[2019-04-26 09:31] #74 closed

[2019-04-26 11:26] #80 closed

[2019-05-02 11:37] pkhodaveissi opened #86 "Styles Issue in Cigarettes"

[2019-05-02 11:37] pkhodaveissi commented on #86
/App/Screens/Home/Cigarettes/Cigarettes.js

styles.single is not defined

[2019-05-02 12:51] amaurymartiny commented on #86
Would you like to create a PR? Removing that line should do the trick

[2019-05-02 12:57] pkhodaveissi commented on #86
I thought you were actually gonna apply some style there, otherwise It would've been a PR

[2019-05-02 12:57] pkhodaveissi commented on #86
I will close this with a PR in a day

[2019-05-02 13:41] amaurymartiny commented on #86
Closed by #87

[2019-05-02 13:41] #86 closed

[2019-05-04 17:05] co16353sidak commented on #82
happy to work on this as my first issue here, please give me the go ahead for this @amaurymartiny

[2019-05-04 17:48] amaurymartiny commented on #82
Yes, please go ahead @co16353sidak, thanks!

[2019-05-04 18:48] co16353sidak commented on #82
@amaurymartiny
instead of implementing a font-awesome setup I thought it would be better if we used a svg with the removed bottom text line, this will aid us in using the pre-existing `<Image>` layout and by just replacing the png with the svg.
we get all the respnsiveness of svg without the text line. I could create a sample svg and show some mockups here if you want to go ahead with this idea 😃

[2019-05-04 18:52] amaurymartiny commented on #82
Sounds good to me! Our designer Marcelo has already done the icon, here it is.

[location-bt.zip](https://github.com/amaurymartiny/shoot-i-smoke/files/3144696/location-bt.zip)

[2019-05-04 19:46] lucienbl commented on #82
If you already have the icon as svg you can directly add the svg in the app which allows you to make the text translatable.

[2019-05-06 21:23] amaurymartiny commented on #76
To make it work with Expo, we could use a 100% JS solution: https://github.com/reggie3/react-native-webview-leaflet

Performance is not an issue here (the map is mostly decorative), so we don't need a native component

[2019-05-17 15:34] amaurymartiny commented on #82
Hey @co16353sidak, are you still working on this? Do you need help?

[2019-05-17 15:51] co16353sidak commented on #82
@amaurymartiny sorry for the delays, going through my exam
Give me another day for this 😄
P.S: I will be pinging you if i get stuck

[2019-05-18 15:19] kiranjd commented on #82
@amaurymartiny Just downloaded all zip file containing the location icons, you minify the images further using [tinypng](tinypng.com).
I have compressed the images by ~55% overall without compromising on quality.
Here are the compressed images,
[location-png-minified.zip](https://github.com/amaurymartiny/shoot-i-smoke/files/3194222/location-png-minified.zip)

[2019-05-19 08:55] amaurymartiny commented on #82
Thanks @kiranjd, I appreciate it!

But as @co16353sidak said, let's use SVG instead: it's smaller than png, and there's no worry of screen resolution.

[2019-06-08 14:41] amaurymartiny commented on #24
@lucienbl Have a look at https://blog.expo.io/expo-sdk-v33-0-0-is-now-available-52d1c99dfe4c#8b09, they apparently fixed BackgroundFetch on Android!

Do you still want to work on it?

[2019-06-08 14:44] lucienbl commented on #24
Hey! Sure, I'll have a look into it. Do you update the project to the newer version, if it's not already done? Otherwise I'll do it if you tell me what dependencies should be updated 😄

[2019-06-08 14:46] amaurymartiny commented on #24
Let's do like that, I'll let you update to Expo@33. In one PR, or in 2 separate PRs, I'll let you decide.

[2019-06-08 14:59] amaurymartiny opened #96 "Convert codebase to Typescript"
This is not urgent at all, but really a personal preference. I tend to write all my current projects in TS, so would like to convert this one to TS too.

Reasons: refactoring peace-of-mind, strict null checks, auto-completion, and the community is picking TS up too.

Edit: could refactor to react hooks too

[2019-06-23 14:20] lucienbl commented on #24
Hey! I let you take a look at [this](https://github.com/lucienbl/shoot-i-smoke/tree/feature-history) which should now work with Expo 33. Let me know about it

[2019-06-23 16:16] amaurymartiny commented on #24
This is super cool, thanks! Could you create a PR, I like looking at the code diff

[2019-06-23 17:54] lucienbl commented on #24
Sure, it's here #109 😉

[2019-07-10 13:53] marceloscoelho commented on #24
Hey @amaurymartiny and @lucienbl ! I've worked on the design for the history feature and it would be nice to get your opinions. Here's a quick prototype of how it would work:
![shoot-history](https://user-images.githubusercontent.com/35773925/60974475-6f228d00-a32a-11e9-8643-85e14d138f84.gif)

The idea would be to keep the structure of the app as similar as the current one, just adding a button be

[2019-07-10 17:58] marceloscoelho commented on #24
Maybe a small delay is necessary on loading the cigarettes information:
![shoot-history-delay](https://user-images.githubusercontent.com/35773925/60992587-13b5c680-a34d-11e9-999a-2d232f79b6d3.gif)

[2019-07-18 16:57] #78 closed

[2019-07-18 16:57] #96 closed

[2019-07-21 08:47] amaurymartiny opened #129 "Click on "Why is my station so far" should link to relevant section in About"
Right now, when the station is too far, we show a CTA button "Why is my station so far?". When we click on it, it directs us to the About page.

It should direct us to the About page, but also scroll down in that page, until the paragraph "Why is the station so far away from my station?"

[2019-07-21 08:49] amaurymartiny opened #130 "Fix Error screen"
- [ ] The button should have a border
- [ ] Clicking on the button should redirect to the Search screen

[2019-07-22 16:30] amaurymartiny opened #137 "Run `expo optimize`"
[code]

[2019-07-22 16:31] amaurymartiny opened #138 "Shadows are not the same on iOS than on Android"
The BoxButton has some shadows:
https://github.com/amaurymartiny/shoot-i-smoke/blob/1eb334bde134c8e78f41d2d8c9ff492d99f52dda/App/components/BoxButton/BoxButton.tsx#L63-L66

but they do not render the same on ios and on android. The shadow seems smaller on android.

[2019-07-22 16:47] amaurymartiny opened #139 "Implement animation effect on text on changing frequency"
Maybe a small delay is necessary on loading the cigarettes information:
![shoot-history-delay](https://user-images.githubusercontent.com/35773925/60992587-13b5c680-a34d-11e9-999a-2d232f79b6d3.gif)

_Originally posted by @marceloscoelho in https://github.com/amaurymartiny/shoot-i-smoke/issues/24#issuecomment-510165694_

[2019-07-22 16:54] #138 closed

[2019-07-22 17:45] amaurymartiny opened #141 "Order past stations by order of most hits"
Right now we order the past stations by last visited first, in `PastStations.tsx`

[2019-07-23 10:28] #130 closed

[2019-07-24 18:03] amaurymartiny commented on #137
closed via #144

[2019-07-24 18:03] #137 closed

[2019-07-24 18:11] #129 closed

[2019-07-29 11:27] amaurymartiny opened #152 ""0 more days before we show your results""
We show this message if it's been less than a week that we're tracking cigarette count.

However, if it's been less than a week minus a couple of hours, we show this. We should just show 1 in this case.

[2019-07-31 09:19] amaurymartiny opened #154 "Enable translations for en-* languages"
We have translations for Spanish #79 and French Portuguese #89. They should not be enabled before we actually make sure they don't break the design (e.g. words too long).

However, for en-* languages, we could already support them, as there's little risk of breaking the design. So the idea would be to have `en-GB.json`, `en-US.json` and even other `en-*.json` language files, and replace

https://g

[2019-07-31 15:05] amaurymartiny opened #155 "Update to Expo SDK 34"
https://blog.expo.io/expo-sdk-34-is-now-available-4f7825239319

Also let's hope that this fixes background location fetching

[2019-07-31 16:09] #155 closed

[2019-08-10 09:32] #152 closed

[2019-08-10 09:59] #154 closed

[2019-08-16 08:51] theaupoulat commented on #76
Still open ?

[2019-08-16 09:03] amaurymartiny commented on #76
Yes! It'd be good to see what's out there, and with what we can replace it. The requirements are:
- works behind the the great firewall
- doesn't require to eject expo
- no loss of functionality compared to now (which is not much: select a bounding box to show, add 2 markers with custom image, popups on markers).

@theaupoulat would you like to work on this?

[2019-08-16 12:39] theaupoulat commented on #76
I have similar requirements for a project so I'll gladly help!

[2019-08-16 18:34] theaupoulat commented on #76
@amaurymartiny Having problems with algolia API, keep getting 403 errors on each search (I put algolia keys). Is it a known issue when setting development env ?

[2019-08-16 18:43] amaurymartiny commented on #76
Hmm, I'm not sure, is there an error message with the 403?

Alternatively, try setting `null` and `null` (without quotes) to the 2 algolia fields in app.json, they have a generous free tier.

[2019-08-16 19:03] theaupoulat commented on #76
It was a version problem with react-native-reanimated and expo. Solved it ! thanks !

[2019-09-20 18:15] #141 closed

[2019-09-20 18:15] amaurymartiny commented on #141
Until Expo's BackgroundFetch is bugging, there's no point working on past history of stations.

[2019-09-20 18:16] #139 closed

[2019-09-20 18:16] amaurymartiny commented on #139
No point of implementing this before Expo fixes BackgroundFetch

[2019-09-20 18:17] amaurymartiny opened #201 "Use an external service to fetch historical AQI data"
Candidates:
- https://aqicn.org/data-platform/register/
- IQAir

[2019-09-23 10:02] amaurymartiny commented on #76
Hi @theaupoulat! Any progress on your side? Are you still interested in working on this?

[2019-09-30 07:03] shakti97 commented on #82
is this issue still incomplete or done but not marked closed?

[2019-09-30 08:55] amaurymartiny commented on #82
No, it's incomplete

[2019-09-30 19:01] #82 closed

[2019-10-01 15:54] amaurymartiny commented on #24
I'm reopening this issue, because I removed all the history features (mostly done by Lucien) in this PR: https://github.com/amaurymartiny/shoot-i-smoke/pull/202.

The reason is this upstream issue: https://github.com/expo/expo/issues/3582. After some thorough testing, BackgroundFetch just never gets called...

Note: Putting a Hacktoberfest label here, but it would be finding a way to fix the Expo

[2019-10-01 21:47] florenciasilva commented on #26
Can I start giving this a try? I was thinking in using the react-native code as reference but basically start from zero, recreating the mobile app as much as possible in terms of hierarchy of information and style. I would use create-react-app and .jsx

[2019-10-02 12:43] viveksb007 commented on #35
Hi I would like to take this up.

[2019-10-02 12:49] amaurymartiny commented on #35
Hey @viveksb007, I would really appreciate this!

Is the issue description clear? Do you need some more indications?

[2019-10-02 13:07] viveksb007 commented on #35
Yes its clear. But to be sure when sharing the result. App should provide the below image + app download link right?

![photo_2019-10-02 18 35 11](https://user-images.githubusercontent.com/12713808/66046558-a7a9bf80-e543-11e9-8cc3-211bcb2cd98c.jpeg)

[2019-10-02 13:09] amaurymartiny commented on #35
No, not the below image. It should be a screenshot of the home page, with the cigarette count, for example this image https://twitter.com/shootismoke/status/1077481829970649088.

Of course, it should take a screenshot of the actual screen on the home page, and share that image.

[2019-10-02 13:19] viveksb007 commented on #35
Yeah got it. Will give it a try.

[2019-10-02 15:35] amaurymartiny opened #236 "Add daily/weekly/monthly notifications"
The idea here is to show regular notifications on the user's phone, to remind him/her of the number of cigarettes he/she is smoking.

We would have the following options:
- daily notification
- weekly notification
- monthly notification
- ~pollution peak notification (notification when pollution is higher than recommended)~ leave this for later)

This user's preference should be stored in AsyncSto

[2019-10-02 15:36] amaurymartiny commented on #25
superseded by #236

[2019-10-02 15:37] #25 closed

[2019-10-02 16:26] amaurymartiny commented on #26
Hey @florenciasilva, that would actually be great! Right now Marcelo and I don't have much time to work on the web app, so we would really appreciate some help!

I created an empty repo with some basic boilerplate here: https://github.com/shootismoke/webapp. React is okay, but here are some technologies that I would like to use:
- Gatsby (instead of CRA), because SEO will play an important role in

[2019-10-02 16:42] marceloscoelho commented on #26
Hi @florenciasilva <https://github.com/florenciasilva>! As Amaury said,
feel free to ask for our help, I would love to explore the design of the
user experience on the web a little more.

Em qua, 2 de out de 2019 às 18:26, Amaury Martiny <notifications@github.com>
escreveu:

[2019-10-02 16:46] viveksb007 commented on #35
Hi @amaurymartiny is there any channel where I can ask queries?
I am facing issues in running app on my Android device. Followed all the steps in README.
Just obtained API key for http://aqicn.org/api/ and wrote `"undefined"` for others. After building I am getting following error.

![photo_2019-10-02 22 12 03](https://user-images.githubusercontent.com/12713808/66063766-af785c80-e561-11e9-9725-152

[2019-10-02 18:06] kartik-budhiraja commented on #236
@amaurymartiny  I would love to work on this issue if it's available.

[2019-10-02 18:26] amaurymartiny commented on #236
Yes, of course! I just assigned you, ping me here if you any help!

[2019-10-02 19:15] LuKenneth commented on #76
I can give this a shot if you guys don't mind!

[2019-10-02 19:17] amaurymartiny commented on #76
Sure 🚀! @theaupoulat hasn't been answering, so go ahead @LuKenneth, I just assigned you.

[2019-10-02 19:47] amaurymartiny commented on #35
Hey Vivek! Sorry about that, it's my fault. Instead of `"undefined"`, it should just be `null` (without quotes) in `app.json`

I updated the README in consequence.

And you are right, there should be a channel to ask this sort of questions. I just created https://spectrum.chat/shootismoke!

[2019-10-02 19:53] florenciasilva commented on #26
This sounds great, its the perfect excuse for me to start with TypeScript. I'm gonna check the repo and continue the conversation over there!

[2019-10-02 19:57] yixxxichen commented on #75
I can provide some help if you don't mind.

[2019-10-02 20:16] amaurymartiny commented on #75
Hey @yixxxichen, that would be very helpful! You can use our tool https://poeditor.com/join/project/iEsj0CSPGX, or just create a PR with a new json file following [this one](https://github.com/amaurymartiny/shoot-i-smoke/blob/master/App/localization/languages/en.json)

[2019-10-02 20:20] amaurymartiny commented on #26
Perfect!

➡️  For any newcomers who'd also like to work on the webapp, let's all move the conversation to https://github.com/shootismoke/webapp, and I'll close this issue.

Creating issues there or asking questions on https://spectrum.chat/shootismoke both work.

[2019-10-02 20:20] #26 closed

[2019-10-02 20:58] rlewicki opened #239 "Polish letters support"
Platform: iOS and Android
Version: 1.3.1 (iOS), 1.4.0 (Android)
Description:
On both platforms polish letters are not supported by font used  to display our current location (see attached screenshot).
![polish_letters_ios](https://user-images.githubusercontent.com/10658394/66081118-b30ee200-e567-11e9-8471-ed0fc8c2c15f.png)

[2019-10-02 21:02] rlewicki opened #240 "Big number in share message"
Platform: iOS
Version: 1.3.1
Description:
When you click share button to share the amount of cigarettes you smoked it shows very big floating point number (see image below).
![share_rounding](https://user-images.githubusercontent.com/10658394/66081467-4d6f2580-e568-11e9-964a-08d9d0eb3df0.png)

Suggested solution:
The number used in message share should be rounded to two position after the point.

[2019-10-03 01:51] LuKenneth commented on #76
So I started taking a look at this tonight, I got the app running on my iPhone with no problems. Then I began looking into replacing the map provider with open street maps. What I successfully did was add a 'UrlTile' on the map to use open street maps, but I believe that's just an overlay over the existing map provider, which isn't what we're looking for. I decided I needed to make my attempts on

[2019-10-03 08:42] kermopajula commented on #240
https://github.com/amaurymartiny/shoot-i-smoke/pull/241

[2019-10-03 09:10] jamespearson commented on #35
Sorry, I started it as part of Hacktoberfest, and none of these comments were here when I last looked.

[2019-10-03 09:51] #240 closed

[2019-10-03 11:58] amaurymartiny commented on #76
Hey @LuKenneth, yeah that happens when you have an incorrect [sentry DSN](https://github.com/amaurymartiny/shoot-i-smoke/blob/master/app.example.json#L19). Try to put `null` (without quotes) in the app.json field

[2019-10-03 12:00] amaurymartiny commented on #239
Yes, you are totally right.

/cc @marceloscoelho, if you have a good idea of an alternative font for here.

[2019-10-03 14:25] marceloscoelho commented on #239
Having the font-system as a backup would be good for that and other cases
(arabic, chinese, etc)!

I'm not sure if that's possible with the app, but if we could have
something like:
*font-family: Gotham, sans-serif;*

*Marcelo S. Coelho**Digital Product Designer*

*marcelocoelho.cc <http://marcelocoelho.cc>*
phone: (+33) 07 69 12 14 49
skype: marcelo.scharlau.coelho

Behance <https://www.behance.n

[2019-10-03 14:25] amaurymartiny opened #244 "Allow users to change between miles and km"
Right now, it's showing `mi` when user's language is `en-US`, and `km` everywhere else.

My phone is en-US, but I use km. I would like to be able to configure that.

This setting should be saved in AsyncStorage.

For the UI, I think for now a simple [Switch](https://facebook.github.io/react-native/docs/switch) in the About.tsx screen would do.

[2019-10-03 16:32] rlewicki commented on #239
Yeah, having fallback font sounds totally reasonable but in this case you need to support all characters at once, detecting if currenly displayed text is supported by font sounds undoable.

What do you think about using one of these: https://www.google.com/get/noto/ ?

[2019-10-03 17:44] hendaoui commented on #244
Working on it :+1:

[2019-10-03 17:46] #35 closed

[2019-10-03 18:23] jamespearson opened #247 "Add image sharing on Android"
In #242 I added an image for sharing, but couldn't make the image sharing work on Android.

This would be a great jumping-in point for someone who is more Android first than me.

[2019-10-03 18:23] amaurymartiny opened #248 "Add `tsc --noEmit` while linting"
I would like to make this change:

https://github.com/amaurymartiny/shoot-i-smoke/blob/ccd33d5d6731c6dc0564fd9e8ccd6ce355f3bb43/package.json#L11

[code]

But right now, when running `node_modules/.bin/tsc --noEmit`, i have

[code]

Errors are coming from typings in node_modules files. Investigate this, and find a way for TS to ignore those errors.

[2019-10-03 18:24] jamespearson opened #250 "Add test to the new share image"
In #242 I added a new Share image on iOS. It would be nice if it shared the old text and the image (if possible)

[2019-10-03 20:23] idanyman commented on #248
Hey, this was rather easy to fix by just adding `--skipLibCheck` to the `tsc` command, hope you're fine with this solution!

[2019-10-03 21:16] #248 closed

[2019-10-04 08:30] hendaoui commented on #244
I'm not managing to get API keys, do you have test keys or can you help me generate new ones!

[2019-10-04 08:55] amaurymartiny commented on #244
@hendaoui I just emailed you some new keys that I generated.

[2019-10-05 08:01] matepapp commented on #244
hey @hendaoui, are you still working on it? I'm willing to help or implement if you don't

[2019-10-05 08:02] matepapp commented on #236
@kartik-budhiraja can I help somehow? are you still working on the issue?

[2019-10-05 09:31] hendaoui commented on #244
@matepapp feel free to work on it (unfortunately I didn't have enough time)

[2019-10-05 16:26] ikakus commented on #247
Hi! I can try to help you with this one if you don't mind :)

[2019-10-05 17:44] kartik-budhiraja commented on #236
@matepapp I am going to look into this issue this week. I will let you know if we can split up the work if you want to help too.

[2019-10-06 11:52] amaurymartiny opened #253 "Add a more opiniated linter: Prettier"
In some external PRs, I see some code formatting differences than from the rest of the codebase. It's of course not the fault of the contributor, but it's due to the current linting rules being a bit too lenient.

The idea of this issue is to remove semistandard, and enforce `@typescript-eslint/recommended` + Prettier.

The config I would like:

### .eslintrc.js

[code]

### .prettierrc.js

[code]

[2019-10-06 17:55] #244 closed

[2019-10-06 21:29] DragonSpirit commented on #247
Hi! Do you still need help with this? If so I want to grab it!

[2019-10-06 21:31] amaurymartiny commented on #247
Yes, please do! I just assigned you.

[2019-10-06 22:43] DragonSpirit commented on #250
Wow, missclick and link to this issue. 🌚
Can do this too, anyway I'm already deep into sharing field

[2019-10-06 22:53] amaurymartiny commented on #250
Sure! You can do this is the same PR, or in 2 separate PRs, as you wish.

[2019-10-07 08:15] DragonSpirit commented on #250
I prefer separate PR after reviewing #255

[2019-10-07 08:21] DragonSpirit opened #256 "Translate to Russian 🇷🇺"
Hi! Which way is more preferable? Push json directly to repo or use poeditor.com?
I would like to help with it.

[2019-10-07 08:57] #247 closed

[2019-10-07 08:58] amaurymartiny commented on #256
Push JSON is preferable. I'm only trying poeditor for people who don't know how to use git.

[2019-10-07 09:14] DragonSpirit commented on #256
Okay, I will push new json file with localization in nearest future 💪

[2019-10-07 13:06] amaury1093 opened #268 "watchOS support?"
This might be a super long-term issue, but I received some feedback of wanting this app on Apple Watch.

Can we already create watchOS apps using React Native?

[2019-10-09 16:02] AlanCalvillo commented on #19
Are you guys considering use just Detox or are you open to different libraries (Cypress or Webrdiverio)?

[2019-10-09 16:05] amaurymartiny commented on #19
I'm definitely open to libraries too, I just don't have much experience e2e testing mobile apps.

The only requirement is that tests are in JS/TS.

[2019-10-10 09:21] #253 closed

[2019-10-10 09:24] amaurymartiny opened #274 "Make linter work with `explicit-function-return-type` and `no-any`"
After #254, we disabled:

https://github.com/amaurymartiny/shoot-i-smoke/blob/1b0c1ce36a39b5a2781dbe42905ca55c7129a629/.eslintrc.js#L13-L17

because there was too much work in one PR.

This issue is to finish this PR, namely:
- remove those two rules in `.eslintrc.js`
- add function return types on all functions (most of them are React components, so `React.ReactElement` will do)
- Remove all inst

[2019-10-10 14:35] DragonSpirit commented on #268
AFAIK Expo doesn't support building for apple watch, but it possible with eject and using package like this: https://github.com/mtford90/react-native-watch-connectivity

[2019-10-10 15:48] DragonSpirit commented on #250
@jamespearson does it should look like [this](https://user-images.githubusercontent.com/976313/66584697-46f73400-eb8e-11e9-9b0a-18b1185929c4.gif)?

[2019-10-10 16:34] amaurymartiny commented on #250
@DragonSpirit Yes, exactly! That looks really nice.

I would appreciate a PR on that. Also, if it works for Android too, then that's perfect.

[2019-10-10 20:21] Rallph commented on #274
Is it alright if I take this issue? I've already started work on it and I don't expect that it will take too long.

[2019-10-10 22:19] amaurymartiny commented on #274
@Rallph Yes, please go ahead, you have the green light!

[2019-10-13 07:51] kartik-budhiraja opened #280 "Correct Algolia places link in the setup documentation"
The link to get Algolia places API key doesn't work, we should change it to correct link which is: `https://community.algolia.com/places/`

[2019-10-13 11:51] #280 closed

[2019-10-13 12:00] #256 closed

[2019-10-14 09:20] 97hknl commented on #236
Wow, cool idea! I would love to work on this issue as well !!

[2019-10-14 09:24] amaurymartiny commented on #236
It's been 9 days and I didn't hear back from @kartik-budhiraja, so @97hknl I guess you can take it.

Unless @matepapp is still interested in doing it?

[2019-10-14 10:08] amaurymartiny opened #283 "Switch to Github Actions"
To remove the amount of external dependencies (here travis), I'd like to try Github Actions for this project.

It'll be simple: just create 2 worksflows, first one run `yarn lint`, second one `yarn test`

[2019-10-14 10:52] matepapp commented on #236
you can work on it @97hknl 👍

[2019-10-14 11:05] kartik-budhiraja commented on #236
@amaurymartiny , @97hknl I am currently in progress on this issue, will create a PR today, sorry for the delay!

[2019-10-14 11:28] sathia27 commented on #283
@amaurymartiny can I take this up?

[2019-10-14 11:29] amaurymartiny commented on #283
Sure, go ahead!

[2019-10-14 12:13] 97hknl commented on #236
I am trying to set up my environment. What should I fill in the below params in app.json?

"organization": "YOUR_SENTRY_ORG",
"project": "YOUR_SENTRY_PROJECT",
"authToken": "null"

which are all properties of hooks beneath the githubUrl.

[2019-10-14 12:15] amaurymartiny commented on #236
You can leave them as-is, they are only needed for publishing the app

[2019-10-14 12:28] 97hknl commented on #236
I have troubles openinig the app in the emulator, on load, I get an error called "Invalid Dsn" with a huge stack trace. Any idea how to fix this?

[2019-10-14 12:34] amaurymartiny commented on #236
Hey, yes. Could you put `null` (without quotes) to all fields in `app.json` where you didn't put tokens? In particular to the `sentryPublicDsn` field, which causes this error.

[2019-10-14 12:39] 97hknl commented on #236
I still get the same error, after setting everything to null. Should I create a new issue for this?

[2019-10-14 12:41] amaurymartiny commented on #236
Yes, I'll have a look into it!

[2019-10-14 12:44] 97hknl opened #286 "Invalid DSN on expo setup on Andriod Emulator"
I tried to set-up the platform using the commands mentioned in the readme. Upon running yarn  start, the app starts up on phone and prints Invalid Dsn with the following stack trace:

Invalid Dsn
SentryError
    error.js:9:32
_fromString
    dsn.js:40:42
Dsn
    dsn.js:13:29
API
    api.js:10:40
BaseTransport
    base.js:10:34
FetchTransport
    fetch.js:11:47
_setupTransport
    backend.js:52:45

[2019-10-14 12:50] amaurymartiny commented on #286
Thanks for the issue!

Can you try if #287 solves the issue? Make sure to run `yarn start -c` to clear expo's cache.

[2019-10-14 12:58] 97hknl commented on #286
I found the fix. One must have to set everything to null, except the "waqiToken", which must be filled with your api key, and also "apiKey" & "googleMapsApiKey" which must be left as "YOUR_KEY" , basically a string, not a null. This fixes the issue for me.

[2019-10-14 13:03] #286 closed

[2019-10-14 15:58] marceloscoelho commented on #239
Let me mockup with Noto to see if it changes that much, or see if there are
other Google Fonts with big character support (Raleway looks quite close to
the one we are using).

*Marcelo S. Coelho**Digital Product Designer*

*marcelocoelho.cc <http://marcelocoelho.cc>*
phone: (+33) 07 69 12 14 49
skype: marcelo.scharlau.coelho

Behance <https://www.behance.net/marceloscoelho>  |  Medium
<https://med

[2019-10-15 09:05] #283 closed

[2019-10-16 12:52] amaurymartiny commented on #236
@97hknl (and others) If you want to think about this comment: https://github.com/amaurymartiny/shoot-i-smoke/pull/292#pullrequestreview-302548152

Do you have other ideas on how to achieve this functionality?

[2019-10-18 12:57] GianOrtiz commented on #19
Hi, can I work on this one?

[2019-10-18 13:01] amaurymartiny commented on #19
@GianOrtiz, yeah, sure, please go ahead! I just assigned you.

So for the beginning, a simple test would do, like "it should reach the homepage and show some cigarettes"

This issue is mostly about the e2e setup.

[2019-10-21 15:43] amaurymartiny commented on #274
Hey @Rallph, are you still working on this? Do you need any help?

[2019-10-21 15:44] amaurymartiny commented on #76
Hey @LuKenneth, are you still working on this? Do you need any help?

[2019-10-21 15:44] #73 closed

[2019-10-21 15:47] LuKenneth commented on #76
@amaurymartiny Sorry, I've been busy/traveling lately. Using `null` like you said fixed my issue above, thanks for that. I still plan on completing this - I can't remember where I last left off. I'll jump back in later tonight after work, and I'll update you!

[2019-10-21 15:47] amaurymartiny opened #301 "Make it more explicity that we are fighting climate change"
Right now, the cigarettes metaphor seems to raise awareness that air pollution impacts really badly each one's health. However, the link to fighting climate change, while present, is in my opinion a bit too implicit.

This app falls right into the goal 13.3 of UN's 17 SDG goals:

We should probably advertize this more.

[2019-10-21 19:12] Rallph commented on #274
Yes, I am still working on it, sorry about the delay. I have run into an issue;

In Screens.tsx there is the following code:

https://github.com/amaurymartiny/shoot-i-smoke/blob/7e8f7060f97620b33cfa3b34d1563c8a032ce0e2/App/Screens/Screens.tsx#L88-L104

The function that calls fadeIn() on line 101 should have a return type of TransitionConfig. However, when I try to set TransitionConfig as the retu

[2019-10-21 20:30] amaurymartiny commented on #274
No pressure! Everything is open-source, based on volunteering.

    Should a new issue be created in this project for this outdated version?
    Should I take the liberty of updating the dependency/dependencies and including the updated package.json and yarn.lock files in my PR?

I know some version of expo works with some particular versions of react-navigation (and hence react-navigation-stack),

[2019-10-22 01:16] LuKenneth commented on #76
@amaurymartiny I remember where i was now... I tried to use https://github.com/allenhwkim/react-openlayers and /react-native-webview-leaflet, but for each - I had trouble importing it because they don't have typed equivalents. Is my only option to created the typed module myself? That would be something brand new to me. Any advice?

[2019-10-22 01:33] Rallph commented on #274
Sounds good! I'll get on it.

[2019-10-22 10:08] amaurymartiny commented on #76
No, you have several options:

1. you can just put inside `App/ambient.d.ts` the following line

[code]

(read: https://stackoverflow.com/questions/48224858/import-require-nodejs-modules-without-types-in-typescript-in-2018)

And everything in react-openlayers will have the `any` type.

2. You can just put

[code]

If `react-openlayers` is used in several places, I'd prefer solution 1. Or else solu

[2019-10-24 17:08] mmsw1597 opened #304 "Translate to Korean 🇰🇷"
Hello, I'm Korean who is interested in this program.
If you don't mind, I'd like to translate this program into Korean.

[2019-10-25 08:28] amaurymartiny commented on #304
Yes, that would be greatly appreciated!

[2019-10-30 18:18] Sirius207 opened #318 "Translate to Chinese (traditional) 🇹🇼"
Hi~ I'm Taiwanese,
I can help to translate this program into Chinese (Traditional) 😄.

[2019-10-31 20:37] #318 closed

[2019-11-04 09:41] vikrantnegi opened #320 "Support Dark/Light mode?"
Hi @amaurymartiny ,
Would it be helpful if we can implement a Dark mode support?

Both iOS and Android are coming up with Dark mode in the OS, so it would be helpful to put this task in somewhere in the backlog.

Thanks.

[2019-11-04 09:43] amaurymartiny commented on #320
Nice suggestion, thanks! We'll keep this in mind

[2019-11-04 09:53] vikrantnegi opened #321 "Status bar issue on Android"
Hi,
 I installed the app on my Android device and the status bar doesn't seems to have `dark-content` as specified in the  `App.tsx`.

Device specs:
Name: POCO F1
Android version: 9
MIUI: 10.3.8

Screenshot:
![Screenshot_2019-11-04-15-19-40-796_com shitismoke app](https://user-images.githubusercontent.com/3294287/68112126-af7bcb80-ff16-11e9-90d2-b2237c46b9fe.png)

[2019-11-05 17:49] amaurymartiny opened #323 "Figure out how we can make the loading page more interactive"
Right now, the loading page with "cough..cough.." takes too much time: 70% of users have a waiting time of 6s.

As a result, in the analytics, we see a lot of people backgrounding/refocusing the app, and some people drop even before reaching the home page.

Reason why it's so slow: the app needs to:
1. Get GPS location from device (should be quite fast, though not always)
2. Fetch reverse geolocat

[2019-11-06 13:00] amaurymartiny commented on #323
Also:
- [ ] Add a timeout on `Fetch reverse geolocation`

[2019-11-06 19:49] mmsw1597 commented on #304
#324

[2019-11-07 15:35] DragonSpirit commented on #321
But in App.tsx it changes only for iOS 🤔

[2019-11-10 15:29] mmsw1597 commented on #304
#325 update kr.json

[2019-11-11 11:29] #304 closed

[2019-11-21 11:04] PineappleIOnic commented on #323
This looks interesting, mind if I try working on this?

[2019-11-21 11:16] amaurymartiny commented on #323
@PineappleIOnic Sure! I posted this issue here to gather ideas from everyone.

 How would you like to proceed?
- you could either post a small description of what you have in mind here, and we can iterate on them before writing actual code
- or if you prefer to code, you could also submit a poc PR, and we can base upon that

[2019-11-23 14:22] PineappleIOnic commented on #323
I was thinking of having an animation while loading which you can interact with using touch, tilt, etc...
I can write the code but don't want to do so until your 100% with what I'm writing 😄

[2019-11-23 14:55] PineappleIOnic commented on #323
I forked and cloned the repo and while running it, I was thinking what if during loading we had an cigarette and holding your thumb down smokes it. Once it's completely burns out it's replaced with an new one then it's interactive and interesting.

Or instead have an cigarette burn as an loading bar, your call 👍

[2019-11-25 10:28] #274 closed

[2019-12-29 11:15] amaurymartiny commented on #321
Closed in #374

[2020-01-06 13:36] amaurymartiny opened #394 "With fp-ts, how to make a Promise.any behavior?"
The behavior we want is: we fetch from 3 providers (aqicn, waqi and openaq), and the first one to resolve, we show it.

In Promise-world, we use Promise.any (e.g. https://github.com/sindresorhus/p-any). That's what we're using now, and then converting back the resulting Promise into a TE.TaskEither:

https://github.com/amaurymartiny/shoot-i-smoke/blob/7cbb6b926157b22229d2e1adf27d4014e8838b6f/App/s

[2020-01-25 22:05] amaurymartiny commented on #201
Finally, we went to implement our own backend: https://github.com/shootismoke/backend

[2020-01-25 22:05] #201 closed

[2020-01-28 16:58] #394 closed

[2020-02-03 10:39] amaurymartiny opened #434 "Add a link for donations to help fight Australia fires"
On the home screen, we have some white space on the bottom. An idea would be to insert a link to an association which e.g. help the firefighters, work on reforestation or on wildlife protection.

[2020-02-03 10:52] amaurymartiny commented on #24
Closed in #425, we're using OpenAQ's historical data for this feature.

[2020-02-03 10:52] #24 closed

[2020-02-03 11:01] amaurymartiny opened #435 "Add a better UI toggling the miles/km switch"
Right now it's a left/right toggle with ugly colors (at least on Android). Even a native Picker would be better.

[2020-02-03 11:09] amaurymartiny opened #436 "Show health/climate change tips and tricks"
On the empty bottom section of the Home page, we could show some health recommendations on polluted days: stay at home, don't do sports outdoors, wear a mask etc.

We could also give tips to fight air pollution: take public transport.

[2020-02-03 11:12] amaurymartiny commented on #33
If we go with affiliate links to the aforementioned products inside our app, we might also give the users a choice to turn off those, in order to keep aligned with our open-source principle.

More specifically, if in the bottom section we show affiliate links, links to donations (see #434) or tips & tricks (#436), then we could give the user the choice to only show some/none of these categories.

[2020-02-03 18:44] #435 closed

[2020-02-05 23:18] amaurymartiny opened #440 "When there are too many cigarettes, show 2 full lines"
Right now, when the number of cigarettes is >50, we limit to show only 50 cigarettes:
https://github.com/amaurymartiny/shoot-i-smoke/blob/f1c67a4cf04d87d9bc82b3414453f582e8b18c46/App/components/Cigarettes/Cigarettes.tsx#L54-L55

However, it's 40 cigarettes and 180 cigarettes seem to have the same number of cigarettes:
<img src="https://user-images.githubusercontent.com/1293565/73891842-759fc580-48

[2020-02-09 12:23] #236 closed

[2020-02-12 18:11] amaurymartiny opened #452 "Offline-first mobile app"
We added in #439 the ability for users to update their notifications preferences.

What it does it:
1. user toggles the button
2. we send an API request to our [backend](https://github.com/shootismoke/backend) to save user notification preferences
3. we also save this preference in AsyncStorage, so that we don't retrieve it from the backend on every app start.

But if the step 2 fails (e.g. if the

[2020-02-14 17:43] amaurymartiny commented on #452
Found this gem: https://offix.dev/docs/react-native

[2020-02-16 12:14] #452 closed

[2020-03-16 12:02] amaurymartiny opened #486 "Use Github Actions to build binaries and upload to stores"
On each github tag, CI should build binaries and upload to stores. Right now I'm doing these steps manually.

Commands I run (for e.g. the v1.5.1 tag):
[code]
This might come in handy: https://github.com/marketplace/actions/expo-cli

I do have 2FA everywhere, so I'm not 100% sure it's doable

[2020-03-17 21:59] amaurymartiny commented on #486
#489 is a first step: expo publish on master

[2020-03-19 18:04] #486 closed

[2020-03-21 10:42] amaurymartiny opened #497 "CI: Figure out why `expo-publish-staging` ran on PR#496"
#496 updates the `production-v1.5` branch (current production branch) with some new commits from master.

Somehow, the master/expo-publish-staging Github action spawned. This is the relevant config:
[code]

I don't understand why this job spawned for this PR.

[2020-03-21 22:32] amaurymartiny commented on #497
All good in https://github.com/amaurymartiny/shoot-i-smoke/pull/507

[2020-03-21 22:32] #497 closed

[2020-04-10 19:31] #19 closed

[2020-05-12 09:51] amaurymartiny commented on #321
I believe I re-introduced this bug in the latest v1.6.0 series. To investigate.

[2020-06-01 08:33] amaurymartiny opened #619 "Clean up all `@typescript-eslint/no-unsafe-*` linting issues"
I turned off these 3 rules:
[code]

because there were too many instances in the codebase. It would be nice to clean them up.

[2020-06-09 13:18] amaurymartiny opened #632 "Use components from `@shootismoke/ui`"
We're working on the [webapp](https://github.com/shootismoke/webapp) now, so I decided to extract some components out for easy re-use, they are in https://github.com/shootismoke/common/tree/master/packages/ui.

However some components are not replaced yet inside this repo:
- [x] CigarettesBlock (done in #620)
- [x] BoxButton (done in #680)
- [x] Button (done in #754)
- [ ] AboutBox (renamed to Con

[2020-06-09 13:28] #75 closed

[2020-07-06 08:43] amaurymartiny commented on #321
Expo 38 introduces a new module only for status bar: https://blog.expo.io/expo-sdk-38-is-now-available-ab6cd30ca2ee. We could use that instead of the low-level RN one

[2020-07-22 17:51] jorgerivero3 opened #679 "Add details for the listed pollutants in FAQ"
I am thinking that the average person may not know what SO2 or O3 is and how they impact human health. If they tap on FAQ, maybe have a separate tab where it lists all of the supported pollutants and gives a good description. Details such as sources and health impacts should be included.

[2020-07-22 23:04] jorgerivero3 commented on #632
#680

[2020-08-15 16:41] amaurymartiny opened #704 "Fix flakiness of E2E tests"
I introduced E2E tests with Detox in https://github.com/amaurymartiny/shoot-i-smoke/pull/396, but they are still a bit flaky (see e.g. https://github.com/amaurymartiny/shoot-i-smoke/runs/988576992). It would be nice to make them less flaky.

Might be related to https://github.com/amaurymartiny/shoot-i-smoke/pull/702.

[2020-09-11 18:59] amaurymartiny opened #724 "Fix `yarn test:unit`"
Running `yarn test:unit` gives error

[code]

[2020-09-13 00:00] xoorath opened #727 "Remember location"
If you do not give location permissions to the app you have to type in your location every time you launch.

I think it would be preferable to remember the last location used if location permissions are disabled.

[2020-09-14 18:43] amaurymartiny commented on #727
That's a very good idea! Would you like to create a PR for this?

[2020-09-20 10:06] amaurymartiny opened #733 "Setting for cussing?"
From a review suggestion:

[2020-09-26 06:52] steveny9911 commented on #619
@amaurymartiny Hihi, could I take a stab at this?

[2020-09-26 10:00] amaurymartiny commented on #619
yes, please go ahead! Thanks 🙏

[2020-09-26 20:21] steveny9911 commented on #619
I'm going through some `no-unsafe-assignment`; not sure how I should handle some

1️⃣
[code]
^ not sure how I should handle this

2️⃣
[code]
^ this seems ok as recommended by the doc and some googling; should I just flag eslint to ignore this line?

3️⃣
`scripts/generateAppJson.js` should probably get just get eslint ignored

[2020-09-26 20:46] amaurymartiny commented on #619
Thanks! Yes, you can add some `eslint-disable` for now. Ideally, when you have an initial version of your changes, could you push your code and create a PR? I'll then pull down your branch, fiddle a bit on my side if I can figure out the `no-unsafe-assignment`s (especially the 1st one).

[2020-09-28 10:33] ngdangtu-vn opened #748 "Request to change a localization script"
As I mentioned in here: https://poeditor.com/projects/po_edit?&id=257157&id_language=177#row-term-146048017
I would like to modify `about_how_do_you_calculate_the_number_of_cigarettes_message_2` script for a better translation purpose.

Since I'm confident that I can do this. Please assign this task to me. I will submit PR in later day.

[2020-09-28 10:37] amaurymartiny commented on #748
Thanks @ngdangtu-vn!

Yes, in the app, the full sentence in English is:
[code]

And the 2nd line is a link to an external website. That's why I separated this one sentence into 3 parts:
- about_how_do_you_calculate_the_number_of_cigarettes_message_1
- about_how_do_you_calculate_the_number_of_cigarettes_link_1
- about_how_do_you_calculate_the_number_of_cigarettes_message_2

If you can find a better

[2020-09-28 21:39] steveny9911 commented on #619
I opened a work in progress pull request; feel free to look it over.

[2020-09-29 16:31] ritikrana4 commented on #436
According to the count of cigarettes. How many cigarettes make a polluted day?
For example, if it shows 3 cigarettes then can we say it a polluted day.

[2020-09-29 16:50] amaurymartiny commented on #436
"Polluted day" is a subjective term, I don't think there should be a cigarette count above which a day is considered "polluted".

The best would be to give a spectrum of AQI level and corresponding health tips, like in https://taqm.epa.gov.tw/taqm/en/b0201.html

[2020-09-30 20:15] steveny9911 commented on #619
I have started looking at `no-unsafe-call`
1️⃣ `shoot-i-smoke\App\stores\util\hawk.ts`
Seems like there's just no typescript support, I'll take a look at https://www.npmjs.com/package/@types/hapi__hawk/v/8.0.0 not sure if this could work

2️⃣ `shoot-i-smoke\e2e\init.ts` and `shoot-i-smoke\e2e\locationDenied.spec.ts`
Error around `jasmine` and `reloadApp()`; doesn't seem like there's any typescript

[2020-09-30 20:17] amaurymartiny commented on #619
1. Yes, definitely give @types/hapi__hawk a try!
2 & 3. Okay to just add eslint-ignore in those files

Thanks for this work @steveny9911 💪

[2020-10-01 07:20] sarthakpranesh commented on #440
Hey @amaurymartiny I would like to work on this issue.

[2020-10-01 09:16] amaurymartiny commented on #440
Hey @sarthakpranesh, thanks for stepping up! Go ahead for this issue, I assigned you.

What remains constant:
- the number of rows (2) to show
- the width of one cigarette

What is variable:
- the number of actual cigarettes
- the width of the user's screen

One more thing: I recently moved this Cigarette component to another repo, so that it can be re-used, it's here now: https://github.com/shoot

[2020-10-01 09:37] Hackodia3t commented on #727
save the location given by network if location permission is not granted

[2020-10-01 10:11] sarthakpranesh commented on #321
Hey @amaurymartiny, I would like to resolve this issue. Let me know if I can follow the same style settings implemented in #374

[2020-10-01 10:12] amaurymartiny commented on #321
@sarthakpranesh yeah, that should work. Go for it 👍

[2020-10-01 21:47] HaramanJohal commented on #727
I'm happy to have a go at this if I could get some pointers. Here's my rough plan of action:

I can use `AsyncStorage` to store the location, I can save this location each time the GPS is actually queried in `location.tsx`. Then instead of defaulting to the hardcoded latitude and longitude it should default to the saved location if available. (I guess the app will only use the hardcoded default un

[2020-10-01 21:59] HaramanJohal commented on #727
Is it better to set the default state value to the last saved location or should we instead attempt GPS first and only fall back if there's an error?
My feeling is that the first is better as it should load quicker...

[2020-10-01 22:14] amaurymartiny commented on #727
We should definitely do that. If the user physically moves (e.g. go to another city), we want to show the pollution of the new city, and not the previously stored one.

AsyncStorage is definitely the way to go 👍

So the flow is:
- on app first ever launch, we fetch GPS
    - if it errors, we show the error screen, and user searches manually for a location
    - if not, then we show the current loc

[2020-10-01 22:29] HaramanJohal commented on #727
This makes sense, and the flow seems logical, I'll give it a go and let you know if I get stuck.

[2020-10-02 08:37] #440 closed

[2020-10-02 23:01] ngdangtu-vn commented on #748
@amaurymartiny
Could I have permission to replace `expo-localization` with `react-i18next`? I think [it can solve our current problem]( https://react.i18next.com/latest/trans-component).

[2020-10-03 04:50] ritikrana4 commented on #436
ok understood.

[2020-10-03 08:31] amaurymartiny commented on #748
It's in my mind to move away from expo-localization (i18n-js),  i saw some limitations, so okat to move away 👍 .

How does `react-i18next` compare to `react-intl`?

[2020-10-03 08:35] ngdangtu-vn commented on #748
If it's possible, please give me 2 days, I will do some researches about it. :)

[2020-10-03 08:36] amaurymartiny commented on #748
Thanks! 🙏

[2020-10-03 10:26] lomby92 commented on #632
Found by searching for `hacktoberfest`, i will take care of replacing `Button`.

[2020-10-04 07:26] lomby92 commented on #632
@amaurymartiny  I can also do the AboutBox replacing, let me know if you are ok with this

[2020-10-04 07:26] amaurymartiny commented on #724
fixed in #753

[2020-10-04 07:26] #724 closed

[2020-10-04 07:28] amaurymartiny commented on #632
Yes, please, go ahead! 🙏

[2020-10-04 08:48] lomby92 commented on #632
PR for ConversionBox: https://github.com/amaurymartiny/shoot-i-smoke/pull/755

[2020-10-04 12:24] #632 closed

[2020-10-06 09:51] ngdangtu-vn commented on #748
One thing that is clearly difference between `react-i18next` and `react-intl` is Components:
- [`react-intl`](https://github.com/formatjs/formatjs) has rich components style, [up to 13 one](https://formatjs.io/docs/react-intl/components). Thanks to that, it will be merged to the React JSX style very well. It could be a good choice for clean. Moreover, one the translator side, scripts are more read

[2020-10-06 09:51] ngdangtu-vn commented on #748
One thing that is clearly difference between `react-i18next` and `react-intl` is Components:
- [`react-intl`](https://github.com/formatjs/formatjs) has rich components style, [up to 13 one](https://formatjs.io/docs/react-intl/components). Thanks to that, it will be merged to the React JSX style very well. It could be a good choice for clean. Moreover, one the translator side, scripts are more read

[2020-10-06 10:05] amaurymartiny commented on #748
Thanks a lot for this overview!

I overall really prefer a simple `t('...')` for translating (instead of components everywhere), and I think >90% of strings in the App are static. We can use the Trans component in e.g. the case you described in your first post. So let's use `react-i18next`! 🚀

Would you like to create a PR for this?

[2020-10-06 10:09] ngdangtu-vn commented on #748
Yes, I will try to implement it and create PR.

[2020-10-06 20:55] HaramanJohal commented on #301
Do we have access to air quality data from the past? Perhaps one way to show that there's a link between your health now and climate change is to show how the 'number of cigarettes' has changed over the past years. Maybe something like 'this day in past years would have been X cigarettes' or a graph visualisation

[2020-10-10 09:54] #727 closed

[2020-10-10 10:34] ngdangtu-vn commented on #748
@amaurymartiny
I have successfully implement the i18next for main part (I haven't deal with language picker and language detector yet, but it shouldn't be to much problem). Now, I would like to discuss with you about improve script key to take advantage of i18next. It means, we will move from:

[code]

To this:

[code]

This means we have to upgrade the translation scripts. And I would like your o

[2020-10-10 10:42] amaurymartiny commented on #748
Thanks! Yes, organizing the scripts with namespaces is a good idea.

Is it possible to make nested namespaces? If yes, I believe the easiest way to organize namespaces is to follow the folder structure already in place:

[code]

This seems like the most obvious way to me. Maybe you have a better idea?

BTW, no worries to break the current translation files script, we can also add a small script in

[2020-10-10 10:56] ngdangtu-vn commented on #748
I don't think we have [nested namespaces](https://www.i18next.com/principles/namespaces), [nesting](https://www.i18next.com/translation-function/nesting) is another story to tell (quite powerful and a bit complex). In your suggestion code, it is still queriable like this:

[code]

[code]

While this is good for components namespace. Using this on `screens` ns would disable one advantage of its, fa

[2020-10-10 11:14] amaurymartiny commented on #748
I wasn't aware of the performance hit. The way you described sounds good 👍

[2020-10-21 13:39] gugacavalieri opened #777 "Export PT-BR translations"
Hi guys!

I just updated some translations for PT-BR and I saw that there is no `pt-br.json` file yet under the `languages` directory.

How can we export this new translation into the app? I would love to contribute to that :smile:

Cheers

[2020-10-22 09:22] ra1710 opened #779 "I want to add some words about credits"

[2020-10-22 09:22] ra1710 commented on #779
I add some words

[2020-10-22 09:22] ra1710 commented on #779
Please allow me

[2020-10-22 09:23] #779 closed

[2020-10-25 21:20] BatDroid commented on #619
anything is left here to be done by someone else (me) ?

[2020-10-27 21:38] amaurymartiny commented on #619
I didn't hear back from @steveny9911, so I think you can go for it @BatDroid!

The items `'@typescript-eslint/no-unsafe-call': 'off',` and `'@typescript-eslint/no-unsafe-member-access': 'off',` are still up for grabs.

[2020-10-31 20:04] BatDroid commented on #619
I'm new here. when i try to run the project on ios, it loads and when it reaches to 100% it crashes the whole expo app without any proper report in flipper.

[2020-12-08 15:12] amaurymartiny commented on #704
@adi-mohan Are you still working on this?

Maybe this will help: https://github.com/expo/detox-tools/issues/1

[2021-01-25 10:51] Feiks opened #880 "TypeError: undefined is not an object (evaluating '_expoConstants.default.manifest.extra.hawkKey')"
Wanted to run in Expo, there was an eRror like this, please how  can i fix it?

[2021-02-28 17:59] amaurym commented on #880
I removed hawkKey in master, so this should be fixed.

[2021-02-28 17:59] #880 closed

[2021-06-14 07:02] pavll opened #922 "Not working in Germany anymore"
In Germany the app does not work anymore: ![image](https://user-images.githubusercontent.com/44974737/121852007-2716fc80-ccef-11eb-9fd6-c1c8d608c1b6.jpeg)![image](https://user-images.githubusercontent.com/44974737/121852012-2a11ed00-ccef-11eb-8531-7f5af3aa700e.jpeg)![image](https://user-images.githubusercontent.com/44974737/121852022-2d0cdd80-ccef-11eb-98c0-10801e5d3e24.jpeg)

[2021-08-15 09:46] #922 closed